<!DOCTYPE html>
<html>
<head>
    <title>Twikipapa</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

<script type="text/javascript">
    function check() {
        var params = {
            // Request parameters
        };
        var text = $("#body").val();
        var documents =  [
              {
                "language": "en",
                "id": "1",
                "text": text
              }
            ];
        $.ajax({
            url: "https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/sentiment?" + $.param(params),
            beforeSend: function(xhrObj){
                // Request headers
                xhrObj.setRequestHeader("Content-Type","application/json");
                xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","74f56f5e3fc6468f8064bb28fe902728");
            },
            type: "POST",
            // Request body
              data : JSON.stringify({documents : documents}),
              success: function(data, status)
                {
                    document.getElementById('status').innerHTML = '<b>Score</b> '+data.documents[0].score * 100;
                    console.log(data); // Contains the suite
                },
                error: function(data,error)
                {   document.getElementById('status').innerHTML = data.message;
                }
        });
        var params = {
          // Request parameters
          "mode": "spell",
          "mkt": "en-us",
        };

          $.ajax({
              url: "https://api.cognitive.microsoft.com/bing/v5.0/spellcheck/?" + $.param(params),
              beforeSend: function(xhrObj){
                  // Request headers
                  xhrObj.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
                  xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","52ac25d2703c461398c3e8e887569470");
              },
              type: "POST",
              // Request body
              data: {text : text},
          })
          .done(function(data) {
              if(data != ''){
                  console.log(data);
                  var fix = [];
                  var test = '';
                    $.each(data.flaggedTokens, function(i, data) {
                        console.log(data.suggestions[0].suggestion);
                        fix[0] = text;
                        fix[i+1] = fix[i].split(data.token).join('<b>'+data.suggestions[0].suggestion+'</b>');
                        test = fix[i].split(data.token).join('<b>'+data.suggestions[0].suggestion+'</b>');

                          //$('#spell').append('Should Be : ');
                            // $.each(data.suggestions[i], function(index, data) {
                            //     console.log(data);
                            // });
                          //console.log(test);
                          //console.log(test);
                    });
                    if(test != ''){
                      $('#spell').append('<b>Tense Fix: </b>'+test);
                      console.log(test);
                    }
              }
          })
          .fail(function() {
              alert("error");
          });

    }
</script>

<div class="row-md-2">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <h2> Happy Bird Tweet</h2>
      </div>
      <form method="post">
        <div class="form-group">

          <textarea name="body" id="body" rows="3" class="form-control" onChange="check()"></textarea>
        </div>
        <div class="form-group">
            <p id="status"></p>
            <p id="spell"></p>
        </div>
        <div class="form-group">
            <button type="button" name="button" class="btn btn-info">Tweet</button>
        </div>
      </form>
</div>


</div>
</body>
</html>
